<h1>Listing messages</h1>

<table class="table">
    <tr>
      <th>Receiver_id</th>
      <th>Sender_id</th>
      <th>Index</th>
      <th>Subject</th>
      <th>Message</th>
      <th>Text</th>
      <th>Read</th>
        <th colspan="3"></th>
    </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.receiver_id %></td>
    <td><%= message.sender_id %></td>
    <td><%= message.index %></td>
    <td><%= message.subject %></td>
    <td><%= message.message %></td>
    <td><%= message.text %></td>
    <td><%= message.read %></td>
      <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message), class: 'btn btn-edit' %></td>
    <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-destroy' %></td>
  <% end %>
</table>


<div class="form-actions">
  <%= link_to 'New Message', new_message_path, class: 'btn btn-success' %>
</div>
