<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<% unless current_user.profile == @profile %>
<%= link_to 'Message', new_message_path(receiver: @profile.user.id), class: 'btn btn-success' %>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
